.cart-icon{
    font-size: 25px;

    .icon-cart{
        position: relative;

        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-sl{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 15px;
            font-weight: 600;
            color: red;
        }
        &:hover{
            cursor: pointer;
            background-color: rgb(230, 152, 152);
            color: white;
        }

    }


    
}

.body-product{
    margin-top: 10px;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

    .item-product{
        height: 370px;
        width: calc(25% - 10px);
        display: flex;
        flex-direction: column;

        &:hover{
            cursor: pointer;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: inset;
        }


        .item-img{
            height: 250px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : contain;
        }

        .price-item{
            margin-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .text-price{
                font-size: 16px;
                font-weight: 550;
                color: red;
            }
        }

        .name-item{
            margin-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            .text-name{
                font-size: 16px;
                font-weight: 550;
            }
        }

        .btn-item{
            border: none;
            outline: none;
            /* padding: 10px; */
            margin: 10px;
            height: 40px;
            border-radius: 5px;
            background-color: rgb(241, 117, 117);
        }
    }
}