.container-body{
    display: flex;
    justify-content: center;
    align-items: center;

    .text-login{
        font-size: 40px;
        font-weight: 500;
    }
}

.container-login{
    display: flex;
    margin-top: 10px;

    .login-image{
        background-image: url("../assecs/image/access-control-system-abstract-concept_335657-3180.avif");
        width: 40%;
        height: 500px;
        display            : flex;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : contain;
    }

    .login-form{
        width: 60%;
        padding: 0 10px;

        .text-warning{
            color: red;
        }
    }
}